extends navbar
block content
  .dropdown
    button.btn.btn-secondary.dropdown-toggle#voice(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
      .dropdown-menu#voiceMenu(aria-labelledby="dropdownMenuButton")
  input#pitch(type="number" min="0" max="1" step="0.1" value="1")
  input#rate(type="number" min="0" max="1" step="0.1" value="1")
  input#textInput(type="text")
  button.btn.btn-primary#speak Speak

block append scripts
  script(src="/js/home.js")
