extends head
block navbar
	nav.navbar.navbar-dark.bg-dark
		a.navbar-brand(href='#')
			img.d-inline-block.align-top(src='/img/logo-white.svg' width='30' height='30' alt='')
			|  Text 2 Audio
block footer
	#footer.container-fluid.text-center
			a#gitHubFollow(title="Contribute" href="https://github.com/Neil-Brown/text-to-audio" rel="noreferrer")
				img.gitHubLogo.socialLogo(alt="github link" src="/img/github.png")
			h2 Contribute
			.footer-copyright.text-center.py-3 ©2022 Neil Brown
