extends head
block navbar
	nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
		button.navbar-toggler(type='button' data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarContent.collapse.navbar-collapse.justify-content-center
			ul.navbar-nav
				a.navbar-brand(href='/')
					img#logo(src="/img/logo.svg" alt="logo" height="48" width="161")
				li.nav-item
					a.nav-link#membersBut(href='/') Option
